@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

        Student Id: <input type="text" value="0" id="studentId" />
        <button type="button" onclick="GetStudent()">Get Student</button>

        <hr />
        <div id="result">Result</div>
        <hr />
    </div>
